{% extends 'manager/layout.html' %}
{% load static %}
{% block title %} Table's Info | Billiards MS {% endblock title %}
{% block content %}

  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="text-center text-primary"><i class="fa fa-address-book-o">&emsp;Thông tin Bàn</i></h4>
              <hr>
              <div class="row">
                <div class="col-lg-2 col-md-2 d-flex align-items-stretch grid-margin">

                  <div class="card border-top border-bottom border-success">
                    <div class="card-body">
                      <p class="lead mt-2 text-center">
                        {{ tableb.name | capfirst }} <br>
                        <small class='text-center text-secondary'>( ID )</small>
                      </p>

                    </div>
                  </div>

                </div>
                <!-- Second column -->
                <div class="col-lg-6 col-md-6">
                  <div class="table-responsive border-top border-success table-striped">
                    <p class="lead text-center mt-2">Table Info.</p>
                    <table class="table">
                      <tr>
                        <th>Số TT:</th>
                        <td>{{ tableb.id }}</td>
                      </tr>
                      <tr>
                        <th style="width:50%">Tên bàn:</th>
                        <td>{{ tableb.name }}</td>
                      </tr>
                      <tr>
                        <th>Loại bàn:</th>
                        <td>{{ tableb.type }}</td>
                      </tr>

                    </table>
                    <div class="text-center mt-3">
                      <a href=" {% url 'tabler:tab_update' pk=tableb.id %}"
                         class="btn btn-lg btn-primary">
                        <i class="mdi mdi-download"></i>Cập nhật
                      </a>
                      <a class=""></a>
                      <a href="javascript:history.back();"
                         class="btn btn-lg btn-primary">
                        <i class="mdi mdi-exit-to-app"></i>Trở lại
                      </a>
                    </div>
                  </div>
                </div>
                <!-- Third column-->

                <div class="col-lg-4 col-md-4">
                  <div class="table-responsive border-top border-success  table-striped">
                    <p class="lead text-center mt-2"></p>
                    <table class="table">

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
</div>